<nav>
        <span>
          <a href="{{ site.url }}">HOME</a>
        </span>
        <span>
          <a href="{{ "/about/" | prepend: site.baseurl }}">ABOUT</a>
        </span>
        <span>
          <a href="{{ "/categories/" | prepend: site.baseurl }}">CATEGORIES</a>
        </span>
        <span>
          <a href="{{ "/guestbook/" | prepend: site.baseurl }}">GUESTBOOK</a>
        </span>
        <span>
          <a href="{{ "/tags/" | prepend: site.baseurl }}">TAGS</a>
        </span>
        <span>
          <a href="{{ "/links/" | prepend: site.baseurl }}">LINKS</a>
        </span>
        <span>
          <a title="subscribe by RSS" class="" href="{{ "/feed.xml" | prepend: site.baseurl }}">SUBSCRIBE</a>
        </span>
      </nav>
